@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: GmarketSansBold;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
.em-blue {
  font-size: 30px;
  background: linear-gradient(to right top, #36ce10, #1fca272f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.con-tx {
  font-size: 20px;
}
.header {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: linear-gradient(#79a2f2, #f8f9fc1e);
  .nav {
    width: 1098px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 25px;
      color: #20428a;
      text-shadow: 2px 2px 6px gray;
    }
    ul {
      display: flex;
      justify-content: center;
      margin-right: 30px;
      gap: 30px;
    }
  }
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  .about {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    .wrap-about {
      display: flex;
      justify-content: center;
      gap: 200px;
      .left-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 549px;
        gap: 10px;
        .main-tx {
          font-size: 25px;
        }
        .main-tx-em {
          margin-top: -10px;
          font-size: 80px;
          text-shadow: 3px 3px 9px gray;
        }
        .profile-img {
          width: 540px;
          height: 540px;
          margin: 20px 0;
          border-radius: 70%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .right-wrap {
        width: 549px;
        .main-tx {
          text-align: center;
          margin: 50px 0;
          font-size: 60px;
          text-shadow: 2px 2px 6px gray;
        }
        .chart-wrap {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          justify-items: center;
          gap: 40px;
          .pie-chart-wrap {
            display: flex;
            flex-direction: column;
            .pie-chart {
              position: relative;
              display: inline-block;
              width: 200px;
              height: 200px;
              border-radius: 50%;
              transition: 0.3s;
              .center-tx {
                background: #fff;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                text-align: center;
                line-height: 100px;
                font-size: 30px;
                transform: translate(-50%, -50%);
              }
            }
            .btm-tx {
              text-align: center;
              margin: 20px 0;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
